# ignore files we don't need to have in the container
.git/
.github/
target/
templates/*
website-src/.cache
website-src/dist
website-src/node_modules
website-src/.gitignore
.dockerignore
.gitignore
Cargo.lock
Dockerfile
LICENSE
README.md